# config/config.yaml

## General BeeGees pipeline parameters and paths
# BeeGees run identifier
run_name: "BeeGees_run_1"
# Path to MGE installation (MitoGeneExtractor-vX.X.X file)
mge_path: "path/to/MitoGeneExtractor"
# Path to samples.csv
samples_file: "path/to/samples.csv"
# Path to sequence_references.csv (leave path blank/empty if 'run_gene_fetch' == true)
sequence_reference_file: ""
# Path to output directory. Will make final dir if it does not exist already
output_dir: "path/to/output_dir"



## Gene Fetch parameters (https://github.com/bge-barcoding/gene_fetch)
run_gene_fetch: true  # Set true to use gene-fetch to generate reference sequences (default: true)
gene_fetch:
   email: "example@example.ac.uk"                          # Required: Email for NCBI API
   api_key: "12345678910"                                  # Required: NCBI API key
   gene: "coi"                                             # Target gene (e.g., cox1, rbcl, matk)
   minimum_length: "500"                                   # Minimum length of protein reference(s) to fetch (default: 500aa)
   input_type: "taxid"                                     # Does the 'samples.csv' contain a 'taxid' column or 'hierarchical' taxonomic information columns (default: taxid)? - see Gene Fetch docs for more detail
   genbank: true                                           # Download GenBank records for corresponding pseudo-references
  # output_dir will be set automatically to {output_dir}/references/



## Downsampling parameters
downsampling:
  enabled: false    # Set to true to enable downsampling (default: false)
  max_reads: 0      # Maximum number of read PAIRS to process (E.g. 25M read pairs = 25M fwd + 25M rev reads, = 50M reads in total)



## MitoGeneExtractor parameters (see https://github.com/cmayer/MitoGeneExtractor/tree/main?tab=readme-ov-file#command-line-options)
# Exonerate relative score threshold parameter
r:
  - 1
  - 1.3
  - 1.5
# Exonerate minimum score threshold parameter
s:
  - 50
  - 100
# Number of bp to extend beyond the Exonerate alignment
n: 0
# Genetic code (see https://www.ncbi.nlm.nih.gov/Taxonomy/Utils/wprintgc.cgi). 
# 1: standard genetic code, 2: Vertebrate Mitochondrial, 5: Invertebrate Mitochondrial, 9: Echinoderm and Flatworm Mitochondrial, 11: Bacterial, Archaeal and Plant Plastid 
C: 5
# Consensus threshold (e.g. 0.5 = 50%)
t: 0.5
  
  
  
## Post-processing of aligned reads for cleaning and filtering
# human coi filtering -> at content filtering -> statistical outlier filtering -> (optional) reference-base filtering -> 'cleaned' consensus generation
# Default parameters
fasta_cleaner:
  consensus_threshold: 0.5      # Threshold at which bases at each position must 'agree' to be incldued in the consensus (0.5 = ≥50% of bases at each position must agree)
  human_threshold: 0.95         # Threshold at which reads are removed due to similarity with human COI (0.95 = reads with ≥95% similarity are removed)
  at_difference: 0.1            # Threshold at which reads are removed due to AT content variation (0.1 = reads with AT% differing by >10% from the consensus are removed)
  at_mode: "absolute"           # At content filtering mode: Absolute, Higher, Lower
  outlier_percentile: 90.0      # Threshold at which reads are flagged as statistical outliers to the consensus and removed (90.0 = reads <90% 'similar' to the consensus are removed)
  reference_dir: null
  reference_filter_mode: "remove_similar"    # Filter mode: "keep_similar" (remove outliers) or "remove_similar" (remove sequences similar to reference)
  
  
  
## Structural validation
run_structural_validation: true  # Set false to skip structural validation step (default: true)
structural_validation:
  target: "coi"                  # Options: cox1/coi, rbcl, matk (maps to corresponding HMM models)
  verbose: true                  # Enable verbose logging (default: false)
  genetic_code: 5                # Genetic code table for translation (default: 1 for standard code)



## Taxonomic validation
run_taxonomic_validation: true  # If run_structural_validation == false, run_taxonomic_validation MUST also == false (default: true)
taxonomic_validation:
    database: "path/to/BOLDistilled/"
    database_taxonomy: "path/to/BOLDistilled*.tsv"
    taxval_rank: "family"   # (default & recommended: family)
    expected_taxonomy: "path/to/expected/taxonomy/file.csv"
    verbose: true           # Enable verbose logging (default: true)
    min_pident: 80          # Minimum percent identity (pident) threshold to be considered for returned BLAST hits
    min_length: 100         # Minimum length of alignment to be considered


## Resource allocation for each rule. Memory shown in Mb (mem_mb), e.g. 2048 = 2G memory. Rules have dynamic memory scaling upon retry (mem_mb * retry #).
rules:
  gene_fetch:                           # Gene Fetch
    mem_mb: 8192
    threads: 4  
  fastp_qc:                             # Fastp (merge and concat modes)
    mem_mb: 16384
    threads: 4
  clean_headers_merge:                  # Clean fastq headers (merge mdoe)
    mem_mb: 16384
    threads: 4
  fastq_concat:                         # Concatentaiton of fastp QC'd fastq files (concat mode)
    mem_mb: 16384
    threads: 4
  gzip_trimmed:                         # Compression of fastp QC'd PE fastq files (concat mode)
    mem_mb: 8192
  quality_trim:                         # Trim Galore (concat mode)
    mem_mb: 16384
    threads: 4
  MitoGeneExtractor:                    # MitoGeneExtractor (concat and merge mode)
    mem_mb: 32768
    threads: 8
    partition: himem
  rename_and_combine_cons:              # Clean and rename fasta headers
    mem_mb: 8192
    threads: 4
  human_cox1_filter:                    # 01_human_cox1_filter.py
    mem_mb: 32768
    threads: 8
  at_content_filter:                    # 02_at_content_filter.py
    mem_mb: 32768
    threads: 8
  statistical_outlier_filter:           # 03_statistical_outlier.py
    mem_mb: 32768
    threads: 8
  reference_filter:                     # 04_reference_filter.py
    mem_mb: 4096
    threads: 1
  consensus_generation:                 # 05_consensus_generator.py
    mem_mb: 8192
    threads: 4
  extract_stats_to_csv:                 # mge_stats.py
    mem_mb: 16384
    threads: 4
  structural_validation:                # structural_validation.py
    mem_mb: 16384
    threads: 16
    partition: himem
  taxonomic_validation:                 # tv_local blast.py
    mem_mb: 51200
    threads: 32                         # Minimum = 4 (4 threads given to each parallised BLASTn run)
    partition: himem
  blast2taxonomy:                       # tv_blast2taxonomy.py
    mem_mb: 16384
    threads: 4
